html{
    scroll-behavior: smooth;
}

.container {
    /* margin-left: 80px;
    margin-top: 40px; */
    padding: 95px;
    margin-top: 0;
    padding-top: 50px;
}

.arrow {
    color: white;
    text-align: center;
    animation: go 2s infinite;
    font-size: 35px;
    margin-top: -45px;
}

@keyframes go {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(30px);
    }
}

div.pic {
    position: relative;
    top: 20px;
    left: 30px;
}

body {
    max-width: auto;  
}
